.search {
  display: flex;
  background-color: white;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 15px;
  overflow: hidden;
  padding: 8px 8px;
}
.searchInput {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  font-size: 26px !important;
}
.serachIcon {
  font-size: 20px !important;
}
